<!DOCTYPE HTML>
<html>
<head>
	<title>Julia</title>
	<link href="../css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
	<link href="../css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link rel="shortcut icon" href="../images/x-icon.png" type="image/png">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Photo, portrait, wedding, photoshoot" />
	<script src="../js/jquery-1.11.1.min.js"></script>
	<script src="../js/bootstrap.js"></script>
	<script src="../js/slideshow-min.js"></script>

</head>
<body>
	<!--header-->
	<div class="header">
		<div class="container">
			<div class="logo">
				<h1>
					<a href="../index.html">Julia</a>
				</h1>
			</div>
		</div>
	</div>
	<!--header-->
	<!--banner-->
	<div class="banner top-banner">
		<div class="container">
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav cl-effect-16">
							<li>
								<a href="../index.html">Главная</a>
							</li>
							<li>
								<a href="about.html">Обо мне</a>

							</li>
							<li class="active">
								<a href="gallery.html" >Галерея</a>
								<span class="sr-only">(current)</span>
							</li>
							<li>
								<a href="feedback.html">Отзывы</a>

							</li>
							<li>
								<a href="contact.html">Контакты</a>
							</li>
						</ul>
					</div>
					<!-- /.navbar-collapse -->
				</div>
				<!-- /.container -->
			</nav>
		</div>
	</div>
	<!--/.banner-->

	<div class="content">
		<div class="gallery">
			<h2>Слайд-шоу</h2>

			<div class="container">

				<div id="tab-container-1">
					<div class="slide-description col-md-12">
						<h3>Категория 1</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					</div>

					<div class="col-md-9">
						<div class="tab" id="tab1">
							<a href="javascript:tabber1.next()" title="Click to view next image">
								<img src="../images/fullsize/Agave.jpg" alt="" />
							</a>
							<p class="info"> <strong>Photograph title here</strong>
								Photograph description and stuff goes right here.
							</p>
						</div>
						<div class="tab" id="tab2">
							<a href="javascript:tabber1.next()" title="Click to view next image">
								<img src="../images/fullsize/Clown Fish.jpg" alt="" />
							</a>
							<p class="info"> <strong>Photograph title here</strong>
								Photograph description and stuff goes right here.
							</p>
						</div>
						<div class="tab" id="tab3">
							<a href="javascript:tabber1.next()" title="Click to view next image">
								<img src="../images/fullsize/Daisies.jpg" alt="" />
							</a>
							<p class="info">
								<strong>Photograph title here</strong>
								Photograph description and stuff goes right here.
							</p>
						</div>
						<div class="tab" id="tab4">
							<a href="javascript:tabber1.next()" title="Click to view next image">
								<img src="../images/fullsize/Dandelion Seeds.jpg" alt="" />
							</a>
							<p class="info">
								<strong>Photograph title here</strong>
								Photograph description and stuff goes right here.
							</p>
						</div>
						<div class="tab" id="tab5">
							<a href="javascript:tabber1.next()" title="Click to view next image">
								<img src="../images/fullsize/Dew Drop.jpg" alt="" />
							</a>
							<p class="info">
								<strong>Photograph title here</strong>
								Photograph description and stuff goes right here.
							</p>
						</div>
						<div class="tab" id="tab6">
							<a href="javascript:tabber1.next()" title="Click to view next image">
								<img src="../images/fullsize/Flowing Rock.jpg" alt="" />
							</a>
							<p class="info">
								<strong>Photograph title here</strong>
								Photograph description and stuff goes right here.
							</p>
						</div>
						<div class="tab" id="tab7">
							<a href="javascript:tabber1.next()" title="Click to view next image">
								<img src="../images/fullsize/Ladybug.jpg" alt="" />
							</a>
							<p class="info">
								<strong>Photograph title here</strong>
								Photograph description and stuff goes right here.
							</p>
						</div>
						<div class="tab" id="tab8">
							<a href="javascript:tabber1.next()" title="Click to view next image">
								<img src="../images/fullsize/Leaf Curl.jpg" alt="" />
							</a>
							<p class="info">
								<strong>Photograph title here</strong>
								Photograph description and stuff goes right here.
							</p>
						</div>
						<div class="tab" id="tab9">
							<a href="javascript:tabber1.next()" title="Click to view next image">
								<img src="../images/fullsize/Lotus.jpg" alt="" />
							</a>
							<p class="info">
								<strong>Photograph title here</strong>
								Photograph description and stuff goes right here.
							</p>
						</div>
						<div class="tab" id="tab10">
							<a href="javascript:tabber1.next()" title="Click to view next image">
								<img src="../images/fullsize/Petals.jpg" alt="" />
							</a>
							<p class="info">
								<strong>Photograph title here</strong>
								Photograph description and stuff goes right here.
							</p>
						</div>
					</div>
					<div class="col-md-3">

						<ul id="tab-container-1-nav">
							<li>
								<a href="#tab1">
									<img src="../images/thumbs/Agave.jpg" alt="" />
								</a>
							</li>
							<li>
								<a href="#tab2">
									<img src="../images/thumbs/Clown Fish.jpg" alt="" />
								</a>
							</li>
							<li>
								<a href="#tab3">
									<img src="../images/thumbs/Daisies.jpg" alt="" />
								</a>
							</li>
							<li>
								<a href="#tab4">
									<img src="../images/thumbs/Dandelion Seeds.jpg" alt="" />
								</a>
							</li>
							<li>
								<a href="#tab5">
									<img src="../images/thumbs/Dew Drop.jpg" alt="" />
								</a>
							</li>
							<li>
								<a href="#tab6">
									<img src="../images/thumbs/Flowing Rock.jpg" alt="" />
								</a>
							</li>
							<li>
								<a href="#tab7">
									<img src="../images/thumbs/LadyBug.jpg" alt="" />
								</a>
							</li>
							<li>
								<a href="#tab8">
									<img src="../images/thumbs/Leaf Curl.jpg" alt="" />
								</a>
							</li>
							<li>
								<a href="#tab9">
									<img src="../images/thumbs/Lotus.jpg" alt="" />
								</a>
							</li>
							<li>
								<a href="#tab10">
									<img src="../images/thumbs/Petals.jpg" alt="" />
								</a>
							</li>
						</ul>
					</div>

				</div>
			</div>

		</div>
		<div class="clearfix"></div>
	</div>

	<!--indicate-->
	<div class="indicate">
		<div class="container">
			<div class="indicate-grids">
				<div class="col-md-4 indicate-grid">
					<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
					<p>Адрес: Sydney 7891 St Vincent</p>
				</div>
				<div class="col-md-4 indicate-grid">
					<span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
					<p>Телефон:  +375 11 1111111</p>
				</div>
				<div class="col-md-4 indicate-grid">
					<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
					<p>
						E-mail :
						<a href="mailto:example@mail.com">example@mail.com</a>
					</p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>

	<!--/.indicate-->

	<div class="footer-section">
		<div class="container">
			<div class="footer-top">
				<p>&copy; 2016 Photo Julia. All rights reserved</p>
			</div>
		</div>
	</div>
	<script type="text/javascript">
	var tabber1 = new slide({	id: 'tab-container-1'	});
	</script>
</body>
</html>